<template name='simple_web_rtc'>
  <body>
    <video style='height:40%;' id="localVideo"></video>
    <div style='height:40%;width:100%' id="remotesVideos"></div>
  </body>

  <div class="modal fade"  id="receiveCallModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Receiving call from {{caller.name}}</h4>
        </div>
        <div class="modal-body">
          You are receiving a call from {{caller.name}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" id='hang'>Hang</button>
          <button type="button" class="btn btn-primary" id='answerCall'>Answer</button>
        </div>
      </div>
    </div>
  </div>
</template>