<template name='messages'>
  <div>
    <div>
      <div class="input-field">
        <input id="user_message" type="text" required>
        <label for="user_message">Enter your message</label>
      </div>
    </div>
    <table class="striped">
      <thead>
        <tr>
          <th style='width:7%;'>When</th>
          <th style='width:70px;'>Image</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody>
        {{#each messages}}
          <tr>
            <td>
              <span data-livestamp="{{firstTenDigits timestamp}}"></span>
            </td>
            <td>
              <img src='{{snapshot}}' title='{{author}}' class='snapshot {{effect}}' height='{{picHeight}}' width='{{picWidth}}'/>
            </td>
            <td>
              {{#markdown}} {{autolink body}} {{/markdown}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>
