<template name='messages'>
  <div>
    <input type='text' class='form-control' id='text_entry' placeholder='Enter your message' style='width:100%'/>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th style='width:7%;'>When</th>
          <th style='width:70px;'>Image</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody>
        {{#each messages}}
          <tr>
            <td>
              <span data-livestamp="{{firstTenDigits timestamp}}"></span>
            </td>
            <td>
              <img src='{{snapshot}}' title='{{author}}' class='snapshot {{effect}}' height='{{picHeight}}' width='{{picWidth}}'/>
            </td>
            <td>
              {{body}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>
