<template name='select_room'>
  <div>
    <table class="bordered hoverable centered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each rooms}}
          <tr>
            <td>
              {{name}}
            </td>
            <td>
              <a class='waves-effect waves-light btn enterRoom' id='{{name}}'>Enter</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>