<template name='status'>
  <div>
    <div style='float:left'>
    {{#if connected}}
      <span class="label label-success">Connection: Ok</span>
    {{else}}
    <span class="label label-danger">Disconnected</span>
    {{/if}}
    </div>

    <div class="btn-group">
      <button class="btn btn-default high-level-notify-conf {{markHighNotifLevelActive silent}}" data-level='silent'>Silent</button>
      <button class="btn btn-info high-level-notify-conf {{markHighNotifLevelActive soft}}" data-level='soft'>Soft</button>
      <button class="btn btn-warning high-level-notify-conf {{markHighNotifLevelActive loud}}" data-level='loud'>Loud</button>
    </div>

    {{#if calling}}
      <button class='btn btn-succes' id='hang'>Hang</button>
    {{else}}
      <button class='btn btn-succes' id='selectCallee'>Call someone</button>
    {{/if}}
  </div>

  {{> conf}}
</template>