<template name='status'>
  <div>
    <div class="btn-group">
      <button class="btn btn-default" id='normal'>Normal</button>
      <button class="btn btn-default" id='call'>Call</button>
      <button class="btn btn-default" id='dark'>Dark</button>
      <button class="btn btn-default" id='brb'>BRB</button>
      <button class="btn btn-default" id='lunch'>Lunch</button>
    </div>
    <!-- <div class="btn-group">
      <button class="btn btn-default" id='picSmall'>small</button>
      <button class="btn btn-default" id='picMedium'>medium</button>
      <button class="btn btn-default" id='picBig'>big</button>
    </div> -->
  </div>
</template>