<template name='users'>
  <div style='display:inline-block'>
    <div style='float:left;;margin-right:10px;'>
      <div>
        <img class='snapshot {{user.effect}}' height='{{picHeight}}' width='{{picWidth}}' id='user-snapshot'/>
      </div>
      <input type='text' id='nick' placeholder={{user.nick}} style='width:{{picWidth}}'/>
    </div>
    {{#each otherUsers}}
      <div style='float:left;margin-right:10px;'>
        <img src='{{snapshot}}' class='snapshot {{effect}}' id='{{_id}}' height='{{picHeight}}' width='{{picWidth}}'/>
        <div>{{nick}}</div>
      </div>
    {{/each}}
  </div>
</template>